* {
    font-family: Roboto;
    margin: 0;
}

.header-box {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  25px 100px;
    margin: 0;
    gap: 20px;
}

.logo {

}

.links-top {

}

.links-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.mid-box {
    background-color: #1F2937;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

.mid-1 {
    display: flex;
    flex: 1;
    gap: 20px;
    padding:  100px;
    justify-content: space-between;
    align-items: center;
}

.mid-1-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mid-1-left button {
    max-width: 75px;    
}

.mid-1-right img {
    max-width: 500px;
    min-width: none;
    height: auto;
    flex-shrink: 1;
}

.basic-centered {
    display: flex;
    color: black;
    background-color: white;
    padding: 25px;
    justify-content: center;
}

.mid-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    background-color: white;
    color: #1F2937;
    gap: 20px;
}

.mid-2 img {
    max-width: 150px;
    border-radius: 15px;
}

.image-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.mid-3 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.mid-4-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
}

.mid-4-inner {
    display: flex;
    background-color: #3882F6;
    padding: 50px;
    gap: 20px;
    justify-content: space-around;
    border-radius: 15px;
}

.mid-4-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mid-4-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-4-right button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    padding: 5px 10px;
    border-radius: 15px;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}